.contact-form {
  position: relative;
  background-color: rgba(0,0,0,0.7);
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 10px #FFFFFF;
  font-family:'Times New Roman', Times, serif;
}

.result-message {
  margin-top: 1rem;
  color: #ffffff;
}

.contact-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: #ffffff;
}

.contact-form input, .contact-form textarea {
    z-index:10;
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #00ffea;
    box-shadow: 0 0 10px #00ffea;
    border-radius: 3px;
    color:#ffffff;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.7);
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical;
    background-color: rgba(0,0,0,0.7);
    color:#ffffff;
}

.contact-form button {
    display:flex;
    flex-direction:flex-end;
    align-items:flex-end;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 0 10px #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    color:#ffffff;
    background-color: rgba(0,0,0,0.7);
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: rgba(255,255,255,0.3);
}

.contact-form p {
    margin-top: 1rem;
    padding: 0.5rem;
}

.contact-form .button-row {
    display: flex;
    justify-content:flex-end;
    align-items:center;
}


.contact-form p {
    color: #ffffff;
    font-size: 1em;
}