@page
@model the_kern.com.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
    int counter = 0;
}

<div class="overlay header-bar">
    <h1 class="page-title">Blog</h1>
</div>

<div class="blog-accordion">
    @foreach (var post in Model.BlogPosts)
    {
        counter++;
        var postId = $"accordion-{counter}";
        <div class="accordion" id="@postId">
            <button class="accordion-header">@post.Title</button>
            <div class="overlay accordion-body" id="@($"{postId}-body")">
                @Html.Raw(post.HtmlContent)
            </div>
        </div>
    }
</div>
