@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="overlay text-center textur">
    <h1 class="fun-orange">Greetings!</h1>
    <div>
        <h2 class="titlePage">You have entered the realm of Zach Kern</h2>
    </div>
</div>

@*<div class="overlay directory times">
    <a href="/Projects">Projects</a>
    <a href="/Privacy">Privacy</a>
</div>*@