@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center textur">
    <h1 class="fun-orange">Greetings!</h1>
    <h2 class="fun-orange">You have entered the realm of Zach Kern</h2>
</div>

<div class="directory">
    <a href="/Projects">Projects</a>
    <span>|</span>
    <a href="/Privacy">Privacy</a>
</div>