@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Greetings!</h1>
    <p>You have entered the sphere of Zach Kern</p>
</div>

<body>
    <h3>Ligma?</h3>
</body>