@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center fraktur">
    <h1 class="display-4 turqoise-blue">Greetings!</h1>
    <h2 class="turqoise-blue">You have entered the realm of Zach Kern</h2>
</div>

<div class="directory">
    <a href="/Projects">Projects</a>
    <span>|</span>
    <a href="/Privacy">Privacy</a>
</div>