@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center fraktur">
    <h1 class="display-4 turqoise-blue">Greetings!</h1>
    <p class="turqoise-blue">You have entered the realm of Zach Kern</p>
</div>

<div class="directory">
    <a href="/Projects">Projects</a> | 
    <a href="/Privacy">Privacy</a>
</div>