@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="overlay text-center fun-orange textur">
    <h1>Privacy Policy</h1>
    <div class="big-border">
        <h2 class="times fun-orange">Your data is mine!</h2>
        <p class="times fun-orange">I have not yet harvesting your data, but perhaps someday...</p>
    </div>
    
</div>

