@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="overlay text-center fun-orange textur">
    <h1>Privacy Policy</h1>
    <div class="big-border">
        <h2 class="times fun-orange">Your data is mine!</h2>
        <p class="times fun-orange">I have harvested all the data you freely have given upon browsing the interwebs</p>
    </div>
    
</div>

