@page
@model Projects
@{
    ViewData["Title"] = "Projects";
}


<div class="accordion">
    <button class="accordion-header">LaTeX Renderer for Excel</button>
    <div class="accordion-body">
        <p>
            <a href="~/files/LaTeX_renderer_for_Excel.exe" download>Download Installer</a><br>
            <a href="https://github.com/trumpetkern27/LaTeX_renderer_for_Excel" target="_blank">View on GitHub</a>
        </p>
    </div>
</div>